In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      262 non-null    object
 1   father  262 non-null    int64
 2   mother  262 non-null    int64
 3   gender  262 non-null    int64
 4   trait   262 non-null    int64
 5   SNP_01  262 non-null    object
 6   SNP_02  262 non-null    object
 7   SNP_03  262 non-null    object
 8   SNP_04  262 non-null    object
 9   SNP_05  262 non-null    object
 10  SNP_06  262 non-null    object
 11  SNP_07  262 non-null    object
 12  SNP_08  262 non-null    object
 13  SNP_09  262 non-null    object
 14  SNP_10  262 non-null    object
 15  SNP_11  262 non-null    object
 16  SNP_12  262 non-null    object
 17  SNP_13  262 non-null    object
 18  SNP_14  262 non-null    object
 19  SNP_15  262 non-null    object
 20  class   262 non-null    object
dtypes: int64(4), object(17)
memory usage: 43.1+ KB

In [3]:
df = pd.concat([train, test], ignore_index=True)
df

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,0,0,0,2,A G,G G,C C,A A,C A,...,A A,G G,A A,G G,G G,A A,A A,A A,G A,NaN
433,TEST_171,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,A G,A A,A A,A G,A A,G A,NaN
434,TEST_172,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,G G,A G,A A,A G,A A,G G,NaN
435,TEST_173,0,0,0,2,A G,G G,C A,G A,C C,...,A A,G A,A A,G G,A G,A A,A A,A A,A A,NaN
436,TEST_174,0,0,0,2,G G,G G,C C,G A,C A,...,G A,G G,A A,G G,G G,A A,A A,A A,A A,NaN

In [4]:
df['trait'] = df['trait']-1
df.drop(columns=['father', 'mother', 'gender'], inplace=True)
df

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,1,G G,A G,A A,G A,C A,A A,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,1,A G,A G,C A,A A,A A,A G,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,1,G G,G G,A A,G A,C C,G G,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,A A,G G,A A,G A,A A,G G,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,1,G G,G G,C C,A A,C C,A A,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,A G,G G,C C,A A,C A,A G,A A,G G,A A,G G,G G,A A,A A,A A,G A,NaN
433,TEST_171,1,G G,A A,A A,A A,C A,A G,A A,A A,A A,A G,A A,A A,A G,A A,G A,NaN
434,TEST_172,1,G G,A A,A A,A A,C A,A G,A A,A A,A A,G G,A G,A A,A G,A A,G G,NaN
435,TEST_173,1,A G,G G,C A,G A,C C,G G,A A,G A,A A,G G,A G,A A,A A,A A,A A,NaN
436,TEST_174,1,G G,G G,C C,G A,C A,A A,G A,G G,A A,G G,G G,A A,A A,A A,A A,NaN

In [5]:
for i in tqdm(range(1, 15+1)) :
    target = str(i) if i >= 10 else "0"+str(i)
    cols = sorted(df[f"SNP_{target}"].unique().tolist())
    df[f"SNP_{target}"] = df[f"SNP_{target}"].map(lambda x : 0 if x==cols[0] else (1 if x==cols[1] else 2))
df

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 15/15 [00:00<00:00, 2603.76it/s]

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,1,2,1,0,1,1,0,0,2,0,2,1,0,0,0,0,B
1,TRAIN_001,1,1,1,1,0,0,1,0,1,0,1,0,1,2,0,0,C
2,TRAIN_002,1,2,2,0,1,2,2,0,1,1,1,0,0,0,0,0,B
3,TRAIN_003,0,0,2,0,1,0,2,2,0,2,1,2,2,2,0,2,A
4,TRAIN_004,1,2,2,2,0,2,0,0,0,0,2,0,0,1,0,1,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,1,2,2,0,1,1,0,2,0,2,2,0,0,0,1,NaN
433,TEST_171,1,2,0,0,0,1,1,0,0,0,1,0,0,1,0,1,NaN
434,TEST_172,1,2,0,0,0,1,1,0,0,0,2,1,0,1,0,2,NaN
435,TEST_173,1,1,2,1,1,2,2,0,1,0,2,1,0,0,0,0,NaN
436,TEST_174,1,2,2,2,1,1,0,1,2,0,2,2,0,0,0,0,NaN

In [6]:
df['class_B'] = df['class'].map(lambda x : 1 if x=='B' else 0)
df['class_C'] = df['class'].map(lambda x : 1 if x=='C' else 0)
df['class'] = df['class'].map(lambda x : 0 if x == 'A' else (1 if x=='B' else 2))

for i in range(1, 15+1) :
    target = str(i) if i >= 10 else "0"+str(i)
    target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
    
    for j in range(3) :
        value = target2['class_B'] / (target2['class_B']+target2['class_C'])
        df[f"SNP_{target}_ratio"] = df[f"SNP_{target}"].map(lambda x : value[0] if x==0 else (value[1] if x==1 else value[2])).fillna(0)    

df

/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_886786/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,...,SNP_06_ratio,SNP_07_ratio,SNP_08_ratio,SNP_09_ratio,SNP_10_ratio,SNP_11_ratio,SNP_12_ratio,SNP_13_ratio,SNP_14_ratio,SNP_15_ratio
0,TRAIN_000,1,2,1,0,1,1,0,0,2,...,0.540984,0.644172,0.822785,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320
1,TRAIN_001,1,1,1,1,0,0,1,0,1,...,0.598039,0.644172,0.482353,0.538462,0.117647,0.421687,0.603774,0.367347,0.655172,0.689320
2,TRAIN_002,1,2,2,0,1,2,2,0,1,...,0.666667,0.644172,0.482353,0.956522,0.117647,0.421687,0.577778,0.826923,0.655172,0.689320
3,TRAIN_003,0,0,2,0,1,0,2,2,0,...,0.666667,0.000000,0.275862,1.000000,0.117647,0.888889,0.800000,0.367347,0.655172,0.272727
4,TRAIN_004,1,2,2,2,0,2,0,0,0,...,0.540984,0.644172,0.275862,0.538462,0.743243,0.421687,0.577778,0.576087,0.655172,0.506329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,1,2,2,0,1,1,0,2,...,0.598039,0.644172,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.506329
433,TEST_171,1,2,0,0,0,1,1,0,0,...,0.598039,0.644172,0.275862,0.538462,0.117647,0.421687,0.577778,0.576087,0.655172,0.506329
434,TEST_172,1,2,0,0,0,1,1,0,0,...,0.598039,0.644172,0.275862,0.538462,0.743243,0.662651,0.577778,0.576087,0.655172,0.272727
435,TEST_173,1,1,2,1,1,2,2,0,1,...,0.666667,0.644172,0.482353,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320
436,TEST_174,1,2,2,2,1,1,0,1,2,...,0.540984,0.300000,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.689320

In [7]:
train2 = df[df['id'].str.contains('TRAIN')].copy()
train2['class'].value_counts()

1    114
2     79
0     69
Name: class, dtype: int64

In [8]:
test2 = df[df['id'].str.contains('TEST')].copy()
test2

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,...,SNP_06_ratio,SNP_07_ratio,SNP_08_ratio,SNP_09_ratio,SNP_10_ratio,SNP_11_ratio,SNP_12_ratio,SNP_13_ratio,SNP_14_ratio,SNP_15_ratio
262,TEST_000,0,1,2,0,1,0,1,2,1,...,0.598039,0.000000,0.482353,0.956522,0.117647,0.662651,0.603774,0.367347,0.000000,0.506329
263,TEST_001,1,2,1,2,2,2,0,0,0,...,0.540984,0.644172,0.275862,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320
264,TEST_002,1,2,1,0,0,1,1,0,0,...,0.598039,0.644172,0.275862,0.538462,0.117647,0.421687,0.603774,0.367347,0.655172,0.272727
265,TEST_003,1,2,1,1,0,2,0,0,0,...,0.540984,0.644172,0.275862,0.538462,0.743243,0.421687,0.603774,0.576087,0.655172,0.689320
266,TEST_004,0,0,2,0,2,0,2,2,0,...,0.666667,0.000000,0.275862,1.000000,0.117647,0.888889,0.603774,0.367347,0.655172,0.272727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,1,2,2,0,1,1,0,2,...,0.598039,0.644172,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.506329
433,TEST_171,1,2,0,0,0,1,1,0,0,...,0.598039,0.644172,0.275862,0.538462,0.117647,0.421687,0.577778,0.576087,0.655172,0.506329
434,TEST_172,1,2,0,0,0,1,1,0,0,...,0.598039,0.644172,0.275862,0.538462,0.743243,0.662651,0.577778,0.576087,0.655172,0.272727
435,TEST_173,1,1,2,1,1,2,2,0,1,...,0.666667,0.644172,0.482353,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320
436,TEST_174,1,2,2,2,1,1,0,1,2,...,0.540984,0.300000,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.689320

In [12]:
train2.columns.tolist()

['id',
 'trait',
 'SNP_01',
 'SNP_02',
 'SNP_03',
 'SNP_04',
 'SNP_05',
 'SNP_06',
 'SNP_07',
 'SNP_08',
 'SNP_09',
 'SNP_10',
 'SNP_11',
 'SNP_12',
 'SNP_13',
 'SNP_14',
 'SNP_15',
 'class',
 'class_B',
 'class_C',
 'SNP_01_ratio',
 'SNP_02_ratio',
 'SNP_03_ratio',
 'SNP_04_ratio',
 'SNP_05_ratio',
 'SNP_06_ratio',
 'SNP_07_ratio',
 'SNP_08_ratio',
 'SNP_09_ratio',
 'SNP_10_ratio',
 'SNP_11_ratio',
 'SNP_12_ratio',
 'SNP_13_ratio',
 'SNP_14_ratio',
 'SNP_15_ratio']

In [10]:
train2.to_csv("./data/df_train5.csv", index=False)
test2.to_csv("./data/df_test5.csv", index=False)

In [13]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold

from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE

In [26]:
from xgboost import XGBClassifier, XGBRegressor
from imblearn.over_sampling import SMOTE

xgb_params = {
    'booster': 'gbtree',
    'grow_policy': 'lossguide',
    'max_depth': 0,
    'learning_rate': 0.4,
    'n_estimators': 50,
    'reg_lambda': 100,
    'subsample': 0.9,
    'num_parallel_tree': 3,
    # 'rate_drop': 0.3
}

In [15]:
train = pd.read_csv("./data/df_train5.csv")
test = pd.read_csv("./data/df_test5.csv")
train.shape, test.shape

((262, 35), (175, 35))

In [16]:
def calc_f1_score(y_hat, data):
    y_true = data.get_label()
    y_hat = np.argmax(y_hat, axis=1)
    return 'f1', f1_score(y_true, y_hat, average="macro")

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [27]:
random_seed = 6327

y = train['class'].values
X = train.drop(['id', 'class', 'class_B', 'class_C'], axis=1).to_numpy()
X_test = test.drop(['id', 'class', 'class_B', 'class_C'], axis=1).to_numpy()

skf = StratifiedKFold(n_splits=2, shuffle=True, random_state=random_seed)

oof_val_preds = np.zeros((X.shape[0], 3))
oof_val_preds2 = np.zeros((X.shape[0], 3))
oof_val_preds3 = np.zeros((X.shape[0], 3))
oof_test_preds = np.zeros((X_test.shape[0], 3))

# OOF
for fold, (train_idx, valid_idx) in enumerate(skf.split(X, y)):

    # print('#'*30, f'Fold [{fold+1}/{skf.n_splits}]', '#'*30)

    # train, valid data 설정
    X_train, y_train = X[train_idx], y[train_idx]
    X_valid, y_valid = X[valid_idx], y[valid_idx]
    
    smote = SMOTE(random_state=random_seed)
    X_train, y_train = smote.fit_resample(X_train, y_train)

    # 불균형 데이터 가중치 조정 값 => 음성(0) 타깃값 개수 / 양성(1) 타깃값 개수
    _, counts = np.unique(np.array(y_train), return_counts=True)
    scale_weight = counts[0] / counts[1]

    # XGBoost 모델 훈련
    xgb_model = XGBClassifier(
        **xgb_params,
        tree_method='gpu_hist',
        predictor='gpu_predictor',
        random_state=random_seed,
        n_jobs=-1
    )
    
    rf = RandomForestClassifier()
    lr = LogisticRegression(C=100)
    
    xgb_model.fit(X_train, y_train, eval_set=[(X_valid, y_valid)], eval_metric=calc_f1_score, verbose=False)
    rf.fit(X_train, y_train)
    lr.fit(X_train, y_train)

    oof_test_preds += xgb_model.predict_proba(X_test) / skf.n_splits
    oof_val_preds[valid_idx] += xgb_model.predict_proba(X_valid)
    oof_val_preds2[valid_idx] += rf.predict_proba(X_valid)
    oof_val_preds3[valid_idx] += lr.predict_proba(X_valid)
    
    if fold == 1 :
        pred = xgb_model.predict(X_test)
        break
    
    #model save
    # xgb_model.save_model(f'./models/new_xgb_{skf.n_splits}_{fold}.json')
    del [[X_train, y_train, X_valid, y_valid, xgb_model]]
    gc.collect()

#     model score check
preds = np.argmax(oof_val_preds, axis=1)
preds2 = np.argmax(oof_val_preds2, axis=1)
preds3 = np.argmax(oof_val_preds3, axis=1)
print(f1_score(y, preds, average="macro"))
print(f1_score(y, preds2, average="macro"))
print(f1_score(y, preds3, average="macro"))

# # save OOF test preds
# np.save(f'./results/new_{skf.n_splits}_oof_test_preds.npy', oof_test_preds[:, 1])

0.934885290148448
0.9567845947156292
0.9426235600148644

In [22]:
oof_test_preds

array([[0.60667112, 0.02755523, 0.0324403 ],
       [0.03466125, 0.57773677, 0.05426867],
       [0.02823944, 0.03523073, 0.60319647],
       [0.02636641, 0.42230004, 0.21800024],
       [0.60758346, 0.02789405, 0.03118916],
       [0.02570953, 0.33649158, 0.30446556],
       [0.03646175, 0.04789421, 0.58231074],
       [0.03273264, 0.49197952, 0.14195451],
       [0.55286834, 0.02512414, 0.0886742 ],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.03101063, 0.04234568, 0.59331036],
       [0.04243842, 0.56326136, 0.06096686],
       [0.07043736, 0.3695969 , 0.22663244],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.0221883 , 0.48346838, 0.16100996],
       [0.02694638, 0.55146101, 0.08825928],
       [0.60720965, 0.02757849, 0.03187851],
       [0.02732367, 0.50652988, 0.13281309],
       [0.02730415, 0.60011703, 0.03924551],
       [0.05198546, 0.24937256, 0.36530863],
       [0.02644197, 0.59246564, 0.04775905],
       [0.09271614, 0.37199616, 0.20195438],
       [0.03370104, 0.51233381, 0.12063181],
       [0.60720965, 0.02757849, 0.03187851],
       [0.030514  , 0.58161661, 0.05453605],
       [0.05139915, 0.43858448, 0.17668303],
       [0.02954144, 0.51409014, 0.1230351 ],
       [0.60720965, 0.02757849, 0.03187851],
       [0.60758346, 0.02789405, 0.03118916],
       [0.05476506, 0.52061236, 0.09128922],
       [0.60667112, 0.02755523, 0.0324403 ],
       [0.60578731, 0.02750784, 0.03337153],
       [0.02536057, 0.56165877, 0.07964733],
       [0.04265463, 0.15944787, 0.46456416],
       [0.60758346, 0.02789405, 0.03118916],
       [0.04537668, 0.39263168, 0.22865828],
       [0.03425544, 0.04609511, 0.58631614],
       [0.02493099, 0.56769568, 0.07404   ],
       [0.02690023, 0.53856647, 0.10119999],
       [0.05140481, 0.11569177, 0.49957007],
       [0.60524145, 0.02748184, 0.03394342],
       [0.0414039 , 0.56283912, 0.06242364],
       [0.02958797, 0.08182677, 0.55525193],
       [0.05381875, 0.52321956, 0.08962835],
       [0.02142564, 0.48884398, 0.15639708],
       [0.02638694, 0.46446344, 0.17581628],
       [0.0815428 , 0.43784547, 0.14727839],
       [0.03004569, 0.15953397, 0.47708699],
       [0.02568509, 0.50585561, 0.13512597],
       [0.02138314, 0.15524072, 0.49004284],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.04128637, 0.56674904, 0.05863133],
       [0.57556996, 0.06087022, 0.03022647],
       [0.02639728, 0.55710435, 0.08316506],
       [0.02456519, 0.56990793, 0.07219357],
       [0.03292772, 0.52190989, 0.11182908],
       [0.05067336, 0.13511271, 0.48088057],
       [0.60682106, 0.02798709, 0.03185853],
       [0.04279081, 0.55742207, 0.06645376],
       [0.04608617, 0.10262191, 0.51795858],
       [0.6006251 , 0.02790441, 0.03813718],
       [0.0274677 , 0.58056784, 0.05863112],
       [0.02873509, 0.04074571, 0.59718591],
       [0.02855291, 0.0424972 , 0.59561655],
       [0.04668128, 0.1658507 , 0.4541347 ],
       [0.56268317, 0.07385684, 0.03012668],
       [0.12824168, 0.33676019, 0.20166481],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.60736811, 0.02812051, 0.03117807],
       [0.02432234, 0.56427804, 0.07806627],
       [0.0292605 , 0.5910624 , 0.04634375],
       [0.02630222, 0.59909403, 0.04127043],
       [0.60720965, 0.02757849, 0.03187851],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.0309694 , 0.04271667, 0.59298059],
       [0.03140907, 0.48723681, 0.14802081],
       [0.02643089, 0.03332813, 0.60690761],
       [0.02558786, 0.56529349, 0.07578532],
       [0.04597615, 0.55556715, 0.06512338],
       [0.03093387, 0.58111608, 0.05461674],
       [0.05344679, 0.1389746 , 0.47424527],
       [0.02453939, 0.56165144, 0.08047581],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.02719473, 0.50966617, 0.1298058 ],
       [0.10716936, 0.40300974, 0.15648758],
       [0.04542026, 0.54734144, 0.07390494],
       [0.02731519, 0.60039958, 0.03895189],
       [0.02595356, 0.59401655, 0.04669655],
       [0.02958797, 0.08182677, 0.55525193],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.06416781, 0.49157143, 0.11092742],
       [0.04008749, 0.54432872, 0.08225043],
       [0.01915801, 0.20781191, 0.43969673],
       [0.02932222, 0.58871496, 0.04862952],
       [0.02640949, 0.60151812, 0.03873904],
       [0.03730991, 0.05113588, 0.57822087],
       [0.60640472, 0.02754372, 0.03271818],
       [0.02511873, 0.54770383, 0.09384412],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.03561903, 0.09847299, 0.53257461],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.04522735, 0.5463939 , 0.07504542],
       [0.02615855, 0.55744666, 0.08306146],
       [0.06102643, 0.08246352, 0.52317671],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.60720965, 0.02757849, 0.03187851],
       [0.03587357, 0.09830043, 0.53249265],
       [0.0257337 , 0.45622483, 0.18470816],
       [0.60667112, 0.02755523, 0.0324403 ],
       [0.03115117, 0.52786474, 0.10765076],
       [0.03583434, 0.04556826, 0.58526406],
       [0.05826238, 0.51568066, 0.09272366],
       [0.02782128, 0.5980072 , 0.04083815],
       [0.02630538, 0.58939266, 0.05096862],
       [0.02842673, 0.54119653, 0.09704338],
       [0.60720965, 0.02757849, 0.03187851],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.05223886, 0.14788944, 0.46653835],
       [0.0242615 , 0.55535039, 0.08705479],
       [0.0267687 , 0.41211323, 0.22778474],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.02648296, 0.60314709, 0.0370366 ],
       [0.03323839, 0.52302456, 0.11040374],
       [0.05663488, 0.2139378 , 0.39609396],
       [0.04426439, 0.05957793, 0.56282431],
       [0.03466   , 0.57546288, 0.05654377],
       [0.06743897, 0.36555815, 0.23366955],
       [0.03994454, 0.54222804, 0.08449407],
       [0.60720965, 0.02757849, 0.03187851],
       [0.02600356, 0.54821423, 0.09244888],
       [0.60524145, 0.02748184, 0.03394342],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.03895155, 0.43802673, 0.18968837],
       [0.02492922, 0.56765658, 0.07408088],
       [0.02996685, 0.50687742, 0.12982237],
       [0.02608047, 0.04178304, 0.59880316],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.02683142, 0.4784039 , 0.16143136],
       [0.55960757, 0.07629259, 0.03076653],
       [0.60448858, 0.02880247, 0.03337559],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.03583434, 0.04556826, 0.58526406],
       [0.02644297, 0.60228255, 0.03794116],
       [0.02775955, 0.52802664, 0.11088051],
       [0.03718045, 0.49371904, 0.13576716],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.02843194, 0.51621142, 0.12202333],
       [0.0224903 , 0.12810612, 0.51607025],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.60640472, 0.02754372, 0.03271818],
       [0.03784128, 0.57286263, 0.05596275],
       [0.60720965, 0.02757849, 0.03187851],
       [0.04110476, 0.56617299, 0.05938892],
       [0.02720207, 0.59797305, 0.04149158],
       [0.60736811, 0.02812051, 0.03117807],
       [0.60667112, 0.02755523, 0.0324403 ],
       [0.02630222, 0.59909403, 0.04127043],
       [0.02182934, 0.14442222, 0.50041512],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.026759  , 0.5995909 , 0.04031676],
       [0.04889358, 0.1102012 , 0.50757186],
       [0.03709745, 0.31996875, 0.30960047],
       [0.02642525, 0.60187298, 0.03836845],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.60613248, 0.02783067, 0.03270351],
       [0.02635348, 0.03531838, 0.60499483],
       [0.03529558, 0.55762824, 0.07374284],
       [0.02284896, 0.49347028, 0.15034739],
       [0.60785702, 0.02760646, 0.0312032 ],
       [0.02840905, 0.51178658, 0.12647104],
       [0.02630569, 0.03650663, 0.60385436],
       [0.0252936 , 0.16165421, 0.47971885],
       [0.02783993, 0.59838891, 0.04043785],
       [0.05807585, 0.52368194, 0.0849089 ]])

In [17]:
submit_pred = np.argmax(oof_test_preds, axis=1)
submit_file = pd.read_csv("./data/sample_submission.csv")
submit_file['class'] = submit_pred
submit_file['class'] = submit_file['class'].map(lambda x : "A" if x==0 else ( "B" if x==1 else "C"))
submit_file

           id class
0    TEST_000     A
1    TEST_001     A
2    TEST_002     A
3    TEST_003     A
4    TEST_004     A
..        ...   ...
170  TEST_170     A
171  TEST_171     A
172  TEST_172     A
173  TEST_173     A
174  TEST_174     A

[175 rows x 2 columns]

In [19]:
submit_file['class'].value_counts()

A    175
Name: class, dtype: int64

In [18]:
submit_file.to_csv("submit.csv", index=False)