# CONCEPT 

0. trait 관련 변수 제외
1. A분류/B분류/C분류
2. B&C분류 : 'AUTO' / 1,000 / 1,200&1,000

- 총 열두 개(Classifier&Regressor)의 모델 성능을 복합적으로 고려

In [1]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
import multiprocessing
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import StandardScaler

from transformers import get_cosine_schedule_with_warmup

import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader, TensorDataset, sampler

from imblearn.over_sampling import SMOTE

In [2]:
device = torch.device('cuda:1') if torch.cuda.is_available() else torch.device('cpu')
device

device(type='cuda', index=1)

In [3]:
train = pd.read_csv('./data/df_train00.csv')
test = pd.read_csv('./data/df_test00.csv')

In [4]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold

from xgboost import XGBClassifier, XGBRegressor
from catboost import CatBoostClassifier, CatBoostRegressor
from imblearn.over_sampling import SMOTE, SMOTENC

In [5]:
random_seed = 6327
strategy = {0:1000, 1:1000}
# strategy = 'auto'

In [6]:
train['class'].value_counts()

1    114
2     79
0     69
Name: class, dtype: int64

In [7]:
ae = pd.read_csv("./data/ae_values.csv")
# target_idx = train[train['class'] != 0].index.tolist()
train2 = train.copy().reset_index(drop=True)
# train2['class'] = train2['class'] -1

train2 = pd.concat([train2, ae[:len(train2)]], axis=1)
test2 = pd.concat([test, ae[len(train2):].reset_index(drop=True)], axis=1)
train2['class'].value_counts()

1    114
2     79
0     69
Name: class, dtype: int64

# STEP 01
- 각 레이블 독립적으로 구분하는 모델

In [26]:
y1 = (train2['class'].values == 0).astype(int)
y2 = (train2['class'].values == 1).astype(int)
y3 = (train2['class'].values == 2).astype(int)

X = train2.drop(['id', 'class', 'trait', 'trait_ratio'], axis=1)
X.iloc[:,:15] = X.iloc[:,:15].astype('category')


X_test = test2.drop(['id', 'class', 'trait', 'trait_ratio'], axis=1)
X_test.iloc[:,:15] = X_test.iloc[:,:15].astype('category')

smote = SMOTENC(categorical_features=[x for x in range(15)], random_state=random_seed, sampling_strategy=strategy)
X_train1, y_train1 = smote.fit_resample(X, y1)
X_train2, y_train2 = smote.fit_resample(X, y2)
X_train3, y_train3 = smote.fit_resample(X, y3)

X_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 38 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SNP_01        2000 non-null   category
 1   SNP_02        2000 non-null   category
 2   SNP_03        2000 non-null   category
 3   SNP_04        2000 non-null   category
 4   SNP_05        2000 non-null   category
 5   SNP_06        2000 non-null   category
 6   SNP_07        2000 non-null   category
 7   SNP_08        2000 non-null   category
 8   SNP_09        2000 non-null   category
 9   SNP_10        2000 non-null   category
 10  SNP_11        2000 non-null   category
 11  SNP_12        2000 non-null   category
 12  SNP_13        2000 non-null   category
 13  SNP_14        2000 non-null   category
 14  SNP_15        2000 non-null   category
 15  SNP_01_ratio  2000 non-null   float64
 16  SNP_02_ratio  2000 non-null   float64
 17  SNP_03_ratio  2000 non-null   float64
 18  SNP_04_ratio  2000 non-null   float64
 19  SNP_05_ratio  2000 non-null   float64
 20  SNP_06_ratio  2000 non-null   float64
 21  SNP_07_ratio  2000 non-null   float64
 22  SNP_08_ratio  2000 non-null   float64
 23  SNP_09_ratio  2000 non-null   float64
 24  SNP_10_ratio  2000 non-null   float64
 25  SNP_11_ratio  2000 non-null   float64
 26  SNP_12_ratio  2000 non-null   float64
 27  SNP_13_ratio  2000 non-null   float64
 28  SNP_14_ratio  2000 non-null   float64
 29  SNP_15_ratio  2000 non-null   float64
 30  encodings_0   2000 non-null   float64
 31  encodings_1   2000 non-null   float64
 32  encodings_2   2000 non-null   float64
 33  encodings_3   2000 non-null   float64
 34  encodings_4   2000 non-null   float64
 35  encodings_5   2000 non-null   float64
 36  encodings_6   2000 non-null   float64
 37  errors        2000 non-null   float64
dtypes: category(15), float64(23)
memory usage: 390.7 KB

In [27]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 38 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SNP_01        175 non-null    category
 1   SNP_02        175 non-null    category
 2   SNP_03        175 non-null    category
 3   SNP_04        175 non-null    category
 4   SNP_05        175 non-null    category
 5   SNP_06        175 non-null    category
 6   SNP_07        175 non-null    category
 7   SNP_08        175 non-null    category
 8   SNP_09        175 non-null    category
 9   SNP_10        175 non-null    category
 10  SNP_11        175 non-null    category
 11  SNP_12        175 non-null    category
 12  SNP_13        175 non-null    category
 13  SNP_14        175 non-null    category
 14  SNP_15        175 non-null    category
 15  SNP_01_ratio  175 non-null    float64
 16  SNP_02_ratio  175 non-null    float64
 17  SNP_03_ratio  175 non-null    float64
 18  SNP_04_ratio  175 non-null    float64
 19  SNP_05_ratio  175 non-null    float64
 20  SNP_06_ratio  175 non-null    float64
 21  SNP_07_ratio  175 non-null    float64
 22  SNP_08_ratio  175 non-null    float64
 23  SNP_09_ratio  175 non-null    float64
 24  SNP_10_ratio  175 non-null    float64
 25  SNP_11_ratio  175 non-null    float64
 26  SNP_12_ratio  175 non-null    float64
 27  SNP_13_ratio  175 non-null    float64
 28  SNP_14_ratio  175 non-null    float64
 29  SNP_15_ratio  175 non-null    float64
 30  encodings_0   106 non-null    float64
 31  encodings_1   106 non-null    float64
 32  encodings_2   106 non-null    float64
 33  encodings_3   106 non-null    float64
 34  encodings_4   106 non-null    float64
 35  encodings_5   106 non-null    float64
 36  encodings_6   106 non-null    float64
 37  errors        106 non-null    float64
dtypes: category(15), float64(23)
memory usage: 36.1 KB

In [10]:
def lgbmc(inputX, inputY) :  
    var_categ = inputX.columns.tolist()[:15]
    model = CatBoostClassifier(
        cat_features=var_categ,
        iterations=100,
        learning_rate=0.3,
        task_type='GPU',
        devices='0',
        # random_state=random_seed
        )
  
    model.fit(
        inputX, inputY,
        eval_set=(inputX, inputY),
        verbose=10
        );     

    pred = model.predict(inputX)
    score = f1_score(inputY, pred, average='macro')
    print(score)
    
    return model

In [11]:
def lgbmr(inputX, inputY) :  
    var_categ = inputX.columns.tolist()[:15]
    model = CatBoostRegressor(
        cat_features=var_categ,
        iterations=100,
        learning_rate=0.3,
        task_type='GPU',
        devices='5',
        # random_state=random_seed
        )
  
    model.fit(
        inputX, inputY,
        eval_set=(inputX, inputY),
        verbose=10
        );     

    pred = model.predict(inputX)
    score = f1_score(inputY, np.round(pred), average='macro')
    print(score)
    
    return model

In [12]:
model1_c = lgbmc(X_train1, y_train1)
model1_r = lgbmr(X_train1, y_train1)

0:	learn: 0.1517713	test: 0.1517713	best: 0.1517713 (0)	total: 9.45ms	remaining: 935ms
10:	learn: 0.0020150	test: 0.0020150	best: 0.0020150 (10)	total: 94.2ms	remaining: 762ms
20:	learn: 0.0007192	test: 0.0007192	best: 0.0007192 (20)	total: 177ms	remaining: 668ms
30:	learn: 0.0004221	test: 0.0004221	best: 0.0004221 (30)	total: 260ms	remaining: 579ms
40:	learn: 0.0003002	test: 0.0003002	best: 0.0003002 (40)	total: 345ms	remaining: 497ms
50:	learn: 0.0002315	test: 0.0002315	best: 0.0002315 (50)	total: 430ms	remaining: 413ms
60:	learn: 0.0001872	test: 0.0001872	best: 0.0001872 (60)	total: 515ms	remaining: 329ms
70:	learn: 0.0001552	test: 0.0001552	best: 0.0001552 (70)	total: 600ms	remaining: 245ms
80:	learn: 0.0001329	test: 0.0001329	best: 0.0001329 (80)	total: 685ms	remaining: 161ms
90:	learn: 0.0001162	test: 0.0001162	best: 0.0001162 (90)	total: 769ms	remaining: 76.1ms
99:	learn: 0.0001053	test: 0.0001053	best: 0.0001053 (99)	total: 846ms	remaining: 0us
bestTest = 0.0001052957624
bestIteration = 99
1.0
0:	learn: 0.3541271	test: 0.3541270	best: 0.3541270 (0)	total: 5.29ms	remaining: 523ms
10:	learn: 0.0180216	test: 0.0180216	best: 0.0180216 (10)	total: 42.6ms	remaining: 344ms
20:	learn: 0.0077603	test: 0.0077594	best: 0.0077594 (20)	total: 81.4ms	remaining: 306ms
30:	learn: 0.0059132	test: 0.0059250	best: 0.0059250 (30)	total: 120ms	remaining: 268ms
40:	learn: 0.0049062	test: 0.0049168	best: 0.0049168 (40)	total: 159ms	remaining: 229ms
50:	learn: 0.0041353	test: 0.0041437	best: 0.0041437 (50)	total: 198ms	remaining: 190ms
60:	learn: 0.0037434	test: 0.0037511	best: 0.0037511 (60)	total: 237ms	remaining: 151ms
70:	learn: 0.0032298	test: 0.0032356	best: 0.0032356 (70)	total: 276ms	remaining: 113ms
80:	learn: 0.0029360	test: 0.0029426	best: 0.0029426 (80)	total: 315ms	remaining: 73.9ms
90:	learn: 0.0027114	test: 0.0027183	best: 0.0027183 (90)	total: 354ms	remaining: 35ms
99:	learn: 0.0025469	test: 0.0025542	best: 0.0025542 (99)	total: 388ms	remaining: 0us
bestTest = 0.00255423597
bestIteration = 99
1.0

In [13]:
model2_c = lgbmc(X_train2, y_train2)
model2_r = lgbmr(X_train2, y_train2)

0:	learn: 0.2591650	test: 0.2591649	best: 0.2591649 (0)	total: 9.24ms	remaining: 915ms
10:	learn: 0.0195781	test: 0.0195660	best: 0.0195660 (10)	total: 95.8ms	remaining: 775ms
20:	learn: 0.0075097	test: 0.0075528	best: 0.0075528 (20)	total: 182ms	remaining: 685ms
30:	learn: 0.0036168	test: 0.0036431	best: 0.0036431 (30)	total: 268ms	remaining: 597ms
40:	learn: 0.0026013	test: 0.0026482	best: 0.0026482 (40)	total: 354ms	remaining: 510ms
50:	learn: 0.0018830	test: 0.0019039	best: 0.0019039 (50)	total: 440ms	remaining: 423ms
60:	learn: 0.0014334	test: 0.0014381	best: 0.0014381 (60)	total: 526ms	remaining: 337ms
70:	learn: 0.0010973	test: 0.0011072	best: 0.0011072 (70)	total: 613ms	remaining: 250ms
80:	learn: 0.0009132	test: 0.0009194	best: 0.0009194 (80)	total: 699ms	remaining: 164ms
90:	learn: 0.0007566	test: 0.0007613	best: 0.0007613 (90)	total: 785ms	remaining: 77.6ms
99:	learn: 0.0006588	test: 0.0006617	best: 0.0006617 (99)	total: 863ms	remaining: 0us
bestTest = 0.0006616562009
bestIteration = 99
1.0
0:	learn: 0.3734852	test: 0.3734852	best: 0.3734852 (0)	total: 4.76ms	remaining: 471ms
10:	learn: 0.0906165	test: 0.0906086	best: 0.0906086 (10)	total: 46.1ms	remaining: 373ms
20:	learn: 0.0676397	test: 0.0676209	best: 0.0676209 (20)	total: 87.3ms	remaining: 328ms
30:	learn: 0.0514123	test: 0.0515429	best: 0.0515429 (30)	total: 128ms	remaining: 286ms
40:	learn: 0.0437114	test: 0.0439570	best: 0.0439570 (40)	total: 170ms	remaining: 244ms
50:	learn: 0.0386124	test: 0.0388100	best: 0.0388100 (50)	total: 210ms	remaining: 202ms
60:	learn: 0.0340316	test: 0.0342441	best: 0.0342441 (60)	total: 251ms	remaining: 160ms
70:	learn: 0.0308244	test: 0.0311327	best: 0.0311327 (70)	total: 291ms	remaining: 119ms
80:	learn: 0.0277219	test: 0.0281807	best: 0.0281807 (80)	total: 332ms	remaining: 77.8ms
90:	learn: 0.0255493	test: 0.0261045	best: 0.0261045 (90)	total: 372ms	remaining: 36.8ms
99:	learn: 0.0237644	test: 0.0243658	best: 0.0243658 (99)	total: 408ms	remaining: 0us
bestTest = 0.024365775
bestIteration = 99
1.0

In [14]:
model3_c = lgbmc(X_train3, y_train3)
model3_r = lgbmr(X_train3, y_train3)

0:	learn: 0.2810400	test: 0.2810399	best: 0.2810399 (0)	total: 9.43ms	remaining: 933ms
10:	learn: 0.0166040	test: 0.0165571	best: 0.0165571 (10)	total: 96.3ms	remaining: 779ms
20:	learn: 0.0070081	test: 0.0069675	best: 0.0069675 (20)	total: 183ms	remaining: 689ms
30:	learn: 0.0041225	test: 0.0041105	best: 0.0041105 (30)	total: 270ms	remaining: 601ms
40:	learn: 0.0026600	test: 0.0026624	best: 0.0026624 (40)	total: 357ms	remaining: 513ms
50:	learn: 0.0020764	test: 0.0020707	best: 0.0020707 (50)	total: 443ms	remaining: 426ms
60:	learn: 0.0015045	test: 0.0015009	best: 0.0015009 (60)	total: 530ms	remaining: 339ms
70:	learn: 0.0012884	test: 0.0012866	best: 0.0012866 (70)	total: 616ms	remaining: 252ms
80:	learn: 0.0011223	test: 0.0011194	best: 0.0011194 (80)	total: 703ms	remaining: 165ms
90:	learn: 0.0009299	test: 0.0009282	best: 0.0009282 (90)	total: 790ms	remaining: 78.1ms
99:	learn: 0.0007906	test: 0.0007878	best: 0.0007878 (99)	total: 868ms	remaining: 0us
bestTest = 0.00078783077
bestIteration = 99
1.0
0:	learn: 0.3736734	test: 0.3736734	best: 0.3736734 (0)	total: 5.05ms	remaining: 500ms
10:	learn: 0.0946193	test: 0.0946073	best: 0.0946073 (10)	total: 47.4ms	remaining: 383ms
20:	learn: 0.0668964	test: 0.0666380	best: 0.0666380 (20)	total: 89.8ms	remaining: 338ms
30:	learn: 0.0556272	test: 0.0554556	best: 0.0554556 (30)	total: 133ms	remaining: 295ms
40:	learn: 0.0488466	test: 0.0490706	best: 0.0490706 (40)	total: 175ms	remaining: 252ms
50:	learn: 0.0426618	test: 0.0430071	best: 0.0430071 (50)	total: 218ms	remaining: 210ms
60:	learn: 0.0382744	test: 0.0388079	best: 0.0388079 (60)	total: 261ms	remaining: 167ms
70:	learn: 0.0346366	test: 0.0352854	best: 0.0352854 (70)	total: 303ms	remaining: 124ms
80:	learn: 0.0320135	test: 0.0327621	best: 0.0327621 (80)	total: 346ms	remaining: 81.1ms
90:	learn: 0.0298934	test: 0.0307630	best: 0.0307630 (90)	total: 388ms	remaining: 38.4ms
99:	learn: 0.0282157	test: 0.0291172	best: 0.0291172 (99)	total: 426ms	remaining: 0us
bestTest = 0.02911722875
bestIteration = 99
1.0

# STEP 02. 복합적으로 고려하는 모델
- B와 C만 있을 때 구분
- 모두 있을 때 각각 구분

In [17]:
train3 = train2[train2['class'] != 0].copy()

y4 = (train3['class'].values).astype(int) - 1

X2 = train3.drop(['id', 'class', 'trait', 'trait_ratio'], axis=1)
X2.iloc[:,:15] = X2.iloc[:,:15].astype('category')

strategy1 = 'auto'
strategy2 = {0:1000, 1:1000}
strategy3 = {0:1000, 1:1200}

smote1 = SMOTENC(categorical_features=[x for x in range(15)], random_state=random_seed, sampling_strategy=strategy1)
smote2 = SMOTENC(categorical_features=[x for x in range(15)], random_state=random_seed, sampling_strategy=strategy2)
smote3 = SMOTENC(categorical_features=[x for x in range(15)], random_state=random_seed, sampling_strategy=strategy3)
X_train4, y_train4 = smote1.fit_resample(X2, y4)
X_train5, y_train5 = smote1.fit_resample(X2, y4)
X_train5, y_train6 = smote1.fit_resample(X2, y4)
train3['class'].value_counts(), train3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 261
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            193 non-null    object
 1   trait         193 non-null    int64
 2   SNP_01        193 non-null    int64
 3   SNP_02        193 non-null    int64
 4   SNP_03        193 non-null    int64
 5   SNP_04        193 non-null    int64
 6   SNP_05        193 non-null    int64
 7   SNP_06        193 non-null    int64
 8   SNP_07        193 non-null    int64
 9   SNP_08        193 non-null    int64
 10  SNP_09        193 non-null    int64
 11  SNP_10        193 non-null    int64
 12  SNP_11        193 non-null    int64
 13  SNP_12        193 non-null    int64
 14  SNP_13        193 non-null    int64
 15  SNP_14        193 non-null    int64
 16  SNP_15        193 non-null    int64
 17  class         193 non-null    int64
 18  SNP_01_ratio  193 non-null    float64
 19  SNP_02_ratio  193 non-null    float64
 20  SNP_03_ratio  193 non-null    float64
 21  SNP_04_ratio  193 non-null    float64
 22  SNP_05_ratio  193 non-null    float64
 23  SNP_06_ratio  193 non-null    float64
 24  SNP_07_ratio  193 non-null    float64
 25  SNP_08_ratio  193 non-null    float64
 26  SNP_09_ratio  193 non-null    float64
 27  SNP_10_ratio  193 non-null    float64
 28  SNP_11_ratio  193 non-null    float64
 29  SNP_12_ratio  193 non-null    float64
 30  SNP_13_ratio  193 non-null    float64
 31  SNP_14_ratio  193 non-null    float64
 32  SNP_15_ratio  193 non-null    float64
 33  trait_ratio   193 non-null    float64
 34  encodings_0   193 non-null    float64
 35  encodings_1   193 non-null    float64
 36  encodings_2   193 non-null    float64
 37  encodings_3   193 non-null    float64
 38  encodings_4   193 non-null    float64
 39  encodings_5   193 non-null    float64
 40  encodings_6   193 non-null    float64
 41  errors        193 non-null    float64
dtypes: float64(24), int64(17), object(1)
memory usage: 64.8+ KB

(1    114
 2     79
 Name: class, dtype: int64,
 None)

In [18]:
model4_c = lgbmc(X_train4, y_train4)
model4_r = lgbmr(X_train4, y_train4)

0:	learn: 0.4263382	test: 0.4263382	best: 0.4263382 (0)	total: 10.4ms	remaining: 1.02s
10:	learn: 0.0705201	test: 0.0707894	best: 0.0707894 (10)	total: 97.7ms	remaining: 790ms
20:	learn: 0.0308901	test: 0.0327608	best: 0.0327608 (20)	total: 185ms	remaining: 697ms
30:	learn: 0.0184407	test: 0.0202124	best: 0.0202124 (30)	total: 272ms	remaining: 606ms
40:	learn: 0.0119299	test: 0.0135959	best: 0.0135959 (40)	total: 359ms	remaining: 517ms
50:	learn: 0.0090353	test: 0.0106403	best: 0.0106403 (50)	total: 447ms	remaining: 430ms
60:	learn: 0.0070060	test: 0.0082949	best: 0.0082949 (60)	total: 534ms	remaining: 341ms
70:	learn: 0.0057834	test: 0.0069752	best: 0.0069752 (70)	total: 621ms	remaining: 254ms
80:	learn: 0.0048260	test: 0.0060313	best: 0.0060313 (80)	total: 708ms	remaining: 166ms
90:	learn: 0.0041153	test: 0.0052301	best: 0.0052301 (90)	total: 795ms	remaining: 78.6ms
99:	learn: 0.0037026	test: 0.0047410	best: 0.0047410 (99)	total: 873ms	remaining: 0us
bestTest = 0.004740983771
bestIteration = 99
1.0
0:	learn: 0.4170837	test: 0.4170837	best: 0.4170837 (0)	total: 5.88ms	remaining: 582ms
10:	learn: 0.1650172	test: 0.1660523	best: 0.1660523 (10)	total: 48.2ms	remaining: 390ms
20:	learn: 0.1114992	test: 0.1151159	best: 0.1151159 (20)	total: 90.3ms	remaining: 340ms
30:	learn: 0.0777871	test: 0.0826917	best: 0.0826917 (30)	total: 132ms	remaining: 295ms
40:	learn: 0.0578041	test: 0.0636846	best: 0.0636846 (40)	total: 174ms	remaining: 251ms
50:	learn: 0.0446723	test: 0.0510553	best: 0.0510553 (50)	total: 216ms	remaining: 207ms
60:	learn: 0.0365842	test: 0.0441984	best: 0.0441984 (60)	total: 258ms	remaining: 165ms
70:	learn: 0.0279217	test: 0.0371174	best: 0.0371174 (70)	total: 301ms	remaining: 123ms
80:	learn: 0.0227059	test: 0.0326604	best: 0.0326604 (80)	total: 344ms	remaining: 80.6ms
90:	learn: 0.0187637	test: 0.0294358	best: 0.0294358 (90)	total: 386ms	remaining: 38.2ms
99:	learn: 0.0151832	test: 0.0269256	best: 0.0269256 (99)	total: 425ms	remaining: 0us
bestTest = 0.02692561138
bestIteration = 99
1.0

In [19]:
model5_c = lgbmc(X_train5, y_train5)
model5_r = lgbmr(X_train5, y_train5)

0:	learn: 0.4263382	test: 0.4263382	best: 0.4263382 (0)	total: 9.56ms	remaining: 947ms
10:	learn: 0.0705201	test: 0.0707894	best: 0.0707894 (10)	total: 97.3ms	remaining: 788ms
20:	learn: 0.0308901	test: 0.0327608	best: 0.0327608 (20)	total: 188ms	remaining: 706ms
30:	learn: 0.0184407	test: 0.0202124	best: 0.0202124 (30)	total: 280ms	remaining: 623ms
40:	learn: 0.0119299	test: 0.0135959	best: 0.0135959 (40)	total: 372ms	remaining: 535ms
50:	learn: 0.0090353	test: 0.0106403	best: 0.0106403 (50)	total: 463ms	remaining: 445ms
60:	learn: 0.0070060	test: 0.0082949	best: 0.0082949 (60)	total: 555ms	remaining: 355ms
70:	learn: 0.0057834	test: 0.0069752	best: 0.0069752 (70)	total: 647ms	remaining: 264ms
80:	learn: 0.0048260	test: 0.0060313	best: 0.0060313 (80)	total: 738ms	remaining: 173ms
90:	learn: 0.0041153	test: 0.0052301	best: 0.0052301 (90)	total: 829ms	remaining: 82ms
99:	learn: 0.0037026	test: 0.0047410	best: 0.0047410 (99)	total: 913ms	remaining: 0us
bestTest = 0.004740983771
bestIteration = 99
1.0
0:	learn: 0.4170837	test: 0.4170837	best: 0.4170837 (0)	total: 5.2ms	remaining: 515ms
10:	learn: 0.1650172	test: 0.1660523	best: 0.1660523 (10)	total: 50ms	remaining: 405ms
20:	learn: 0.1114992	test: 0.1151159	best: 0.1151159 (20)	total: 94.6ms	remaining: 356ms
30:	learn: 0.0777871	test: 0.0826917	best: 0.0826917 (30)	total: 139ms	remaining: 310ms
40:	learn: 0.0578041	test: 0.0636846	best: 0.0636846 (40)	total: 183ms	remaining: 263ms
50:	learn: 0.0446723	test: 0.0510553	best: 0.0510553 (50)	total: 227ms	remaining: 218ms
60:	learn: 0.0365842	test: 0.0441984	best: 0.0441984 (60)	total: 270ms	remaining: 173ms
70:	learn: 0.0279217	test: 0.0371174	best: 0.0371174 (70)	total: 314ms	remaining: 128ms
80:	learn: 0.0227059	test: 0.0326604	best: 0.0326604 (80)	total: 357ms	remaining: 83.8ms
90:	learn: 0.0187637	test: 0.0294358	best: 0.0294358 (90)	total: 401ms	remaining: 39.6ms
99:	learn: 0.0151832	test: 0.0269256	best: 0.0269256 (99)	total: 440ms	remaining: 0us
bestTest = 0.02692561138
bestIteration = 99
1.0

In [20]:
model6_c = lgbmc(X_train5, y_train5)
model6_r = lgbmr(X_train5, y_train5)

0:	learn: 0.4263382	test: 0.4263382	best: 0.4263382 (0)	total: 9.55ms	remaining: 946ms
10:	learn: 0.0705201	test: 0.0707894	best: 0.0707894 (10)	total: 96ms	remaining: 777ms
20:	learn: 0.0308901	test: 0.0327608	best: 0.0327608 (20)	total: 185ms	remaining: 697ms
30:	learn: 0.0184407	test: 0.0202124	best: 0.0202124 (30)	total: 273ms	remaining: 607ms
40:	learn: 0.0119299	test: 0.0135959	best: 0.0135959 (40)	total: 360ms	remaining: 518ms
50:	learn: 0.0090353	test: 0.0106403	best: 0.0106403 (50)	total: 448ms	remaining: 430ms
60:	learn: 0.0070060	test: 0.0082949	best: 0.0082949 (60)	total: 535ms	remaining: 342ms
70:	learn: 0.0057834	test: 0.0069752	best: 0.0069752 (70)	total: 623ms	remaining: 254ms
80:	learn: 0.0048260	test: 0.0060313	best: 0.0060313 (80)	total: 710ms	remaining: 166ms
90:	learn: 0.0041153	test: 0.0052301	best: 0.0052301 (90)	total: 797ms	remaining: 78.8ms
99:	learn: 0.0037026	test: 0.0047410	best: 0.0047410 (99)	total: 876ms	remaining: 0us
bestTest = 0.004740983771
bestIteration = 99
1.0
0:	learn: 0.4170837	test: 0.4170837	best: 0.4170837 (0)	total: 5.17ms	remaining: 512ms
10:	learn: 0.1650172	test: 0.1660523	best: 0.1660523 (10)	total: 47.7ms	remaining: 386ms
20:	learn: 0.1114992	test: 0.1151159	best: 0.1151159 (20)	total: 90.1ms	remaining: 339ms
30:	learn: 0.0777871	test: 0.0826917	best: 0.0826917 (30)	total: 132ms	remaining: 295ms
40:	learn: 0.0578041	test: 0.0636846	best: 0.0636846 (40)	total: 175ms	remaining: 252ms
50:	learn: 0.0446723	test: 0.0510553	best: 0.0510553 (50)	total: 217ms	remaining: 209ms
60:	learn: 0.0365842	test: 0.0441984	best: 0.0441984 (60)	total: 260ms	remaining: 166ms
70:	learn: 0.0279217	test: 0.0371174	best: 0.0371174 (70)	total: 303ms	remaining: 124ms
80:	learn: 0.0227059	test: 0.0326604	best: 0.0326604 (80)	total: 348ms	remaining: 81.6ms
90:	learn: 0.0187637	test: 0.0294358	best: 0.0294358 (90)	total: 393ms	remaining: 38.9ms
99:	learn: 0.0151832	test: 0.0269256	best: 0.0269256 (99)	total: 433ms	remaining: 0us
bestTest = 0.02692561138
bestIteration = 99
1.0

In [23]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trait         175 non-null    category
 1   SNP_01        175 non-null    category
 2   SNP_02        175 non-null    category
 3   SNP_03        175 non-null    category
 4   SNP_04        175 non-null    category
 5   SNP_05        175 non-null    category
 6   SNP_06        175 non-null    category
 7   SNP_07        175 non-null    category
 8   SNP_08        175 non-null    category
 9   SNP_09        175 non-null    category
 10  SNP_10        175 non-null    category
 11  SNP_11        175 non-null    category
 12  SNP_12        175 non-null    category
 13  SNP_13        175 non-null    category
 14  SNP_14        175 non-null    category
 15  SNP_15        175 non-null    int64
 16  SNP_01_ratio  175 non-null    float64
 17  SNP_02_ratio  175 non-null    float64
 18  SNP_03_ratio  175 non-null    float64
 19  SNP_04_ratio  175 non-null    float64
 20  SNP_05_ratio  175 non-null    float64
 21  SNP_06_ratio  175 non-null    float64
 22  SNP_07_ratio  175 non-null    float64
 23  SNP_08_ratio  175 non-null    float64
 24  SNP_09_ratio  175 non-null    float64
 25  SNP_10_ratio  175 non-null    float64
 26  SNP_11_ratio  175 non-null    float64
 27  SNP_12_ratio  175 non-null    float64
 28  SNP_13_ratio  175 non-null    float64
 29  SNP_14_ratio  175 non-null    float64
 30  SNP_15_ratio  175 non-null    float64
 31  trait_ratio   175 non-null    float64
 32  encodings_0   106 non-null    float64
 33  encodings_1   106 non-null    float64
 34  encodings_2   106 non-null    float64
 35  encodings_3   106 non-null    float64
 36  encodings_4   106 non-null    float64
 37  encodings_5   106 non-null    float64
 38  encodings_6   106 non-null    float64
 39  errors        106 non-null    float64
dtypes: category(15), float64(24), int64(1)
memory usage: 38.8 KB

In [35]:
pred1 = model1_c.predict_proba(X_test)[:,1]
pred2 = model1_r.predict(X_test)
pred3 = model2_c.predict_proba(X_test)[:,1]
pred4 = model2_r.predict(X_test)
pred5 = model3_c.predict_proba(X_test)[:,1]
pred6 = model3_r.predict(X_test)

pred7 = model4_c.predict_proba(X_test)[:,1]
pred8 = model4_r.predict(X_test)
pred9 = model5_c.predict_proba(X_test)[:,1]
pred10 = model5_r.predict(X_test)
pred11 = model6_c.predict_proba(X_test)[:,1]
pred12 = model6_r.predict(X_test)

A_prob = (pred1+pred2) / 2
B_prob = (pred3+pred4) / 2
C_prob = (pred5+pred6) / 2
BC_prob_auto = (pred7+pred8) / 2
BC_prob_1000 = (pred9+pred10) / 2
BC_prob_1200 = (pred11+pred12) / 2

In [36]:
high1 = pd.read_csv("./data/submit_0.99078.csv")
high2 = pd.read_csv("./data/submit_0.99078_2.csv")
high3 = pd.read_csv("./data/submit_0.99078_3.csv")
high4 = pd.read_csv("./data/submit_0.99078_4.csv")

total = pd.DataFrame()
total['high1'] = high1['class']
total['high2'] = high2['class']
total['high3'] = high3['class']
total['high4'] = high4['class']

total['pred1'] = pred1
total['pred2'] = pred2
total['pred3'] = pred3
total['pred4'] = pred4
total['pred5'] = pred5
total['pred6'] = pred6
total['pred7'] = pred7
total['pred8'] = pred8
total['pred9'] = pred9
total['pred10'] = pred10
total['pred11'] = pred11
total['pred12'] = pred12

total['a_prob'] = A_prob
total['b_prob'] = B_prob
total['c_prob'] = C_prob
total['bc_prob_auto'] = BC_prob_auto
total['bc_prob_1000'] = BC_prob_1000
total['bc_prob_1200'] = BC_prob_1200

total

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,...,pred9,pred10,pred11,pred12,a_prob,b_prob,c_prob,bc_prob_auto,bc_prob_1000,bc_prob_1200
0,A,A,A,A,0.967424,0.754704,0.000024,0.003470,0.000975,0.018098,...,0.973565,0.780386,0.973565,0.780386,0.861064,0.001747,0.009536,0.876975,0.876975,0.876975
1,B,B,B,B,0.000066,-0.007479,0.999980,1.055193,0.000097,-0.024093,...,0.002701,-0.040449,0.002701,-0.040449,-0.003707,1.027587,-0.011998,-0.018874,-0.018874,-0.018874
2,C,C,C,C,0.000984,0.023447,0.000046,-0.034731,0.999864,1.046110,...,0.998099,0.854307,0.998099,0.854307,0.012215,-0.017343,1.022987,0.926203,0.926203,0.926203
3,C,C,C,C,0.000298,-0.001993,0.991672,0.828912,0.255339,0.400911,...,0.057667,0.301193,0.057667,0.301193,-0.000847,0.910292,0.328125,0.179430,0.179430,0.179430
4,A,A,A,A,0.999968,1.000619,0.000020,-0.002506,0.000149,0.025838,...,0.818956,0.696908,0.818956,0.696908,1.000294,-0.001243,0.012993,0.757932,0.757932,0.757932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,B,B,B,B,0.000119,-0.006254,0.988850,0.931199,0.023737,0.059499,...,0.096798,0.246846,0.096798,0.246846,-0.003068,0.960024,0.041618,0.171822,0.171822,0.171822
171,C,C,C,C,0.000273,-0.010404,0.000310,0.003947,0.999806,0.995161,...,0.996449,1.015029,0.996449,1.015029,-0.005066,0.002129,0.997484,1.005739,1.005739,1.005739
172,C,C,C,C,0.000432,-0.001483,0.005906,0.065229,0.997321,0.841661,...,0.964454,0.658497,0.964454,0.658497,-0.000526,0.035568,0.919491,0.811476,0.811476,0.811476
173,B,B,B,B,0.000075,-0.007725,0.999851,1.016167,0.000692,-0.054259,...,0.018407,-0.020830,0.018407,-0.020830,-0.003825,1.008009,-0.026783,-0.001212,-0.001212,-0.001212
174,B,B,B,B,0.000765,0.098726,0.991925,0.899688,0.022385,0.157067,...,0.086325,0.277395,0.086325,0.277395,0.049745,0.945806,0.089726,0.181860,0.181860,0.181860

In [37]:
a_index = total[total.a_prob >= 0.5].index.tolist()
b_index = total[total.b_prob >= 0.5].index.tolist()
c_index = total[total.c_prob >= 0.5].index.tolist()
ab_index = total[(total.b_prob >= 0.5) & (total.a_prob >= 0.5)].index.tolist()
ac_index = total[(total.a_prob >= 0.5) & (total.c_prob >= 0.5)].index.tolist()
bc_index = total[(total.b_prob >= 0.5) & (total.c_prob >= 0.5)].index.tolist()
abc_index = total[(total.a_prob >= 0.3) & (total.b_prob >= 0.3) & (total.c_prob >= 0.3)].index.tolist()

print(len(a_index), len(b_index), len(c_index), len(ab_index), len(ac_index), len(bc_index), len(abc_index), len(a_index)+len(b_index)+len(c_index))

49 87 36 0 0 1 0 172

### Summary
1. A랑은 헷갈려하지 않는다.
2. B와 C랑은 헷갈려하기 때문에 이에 대한 기준이 필요해보인다.

In [38]:
total.iloc[bc_index]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,...,pred9,pred10,pred11,pred12,a_prob,b_prob,c_prob,bc_prob_auto,bc_prob_1000,bc_prob_1200
5,C,C,C,C,0.000021,-0.003667,0.752677,0.679453,0.596063,0.709532,...,0.659294,0.576198,0.659294,0.576198,-0.001823,0.716065,0.652798,0.617746,0.617746,0.617746

In [39]:
total.iloc[[3,5,12,119,126,162,168], -16:]

,pred3,pred4,pred5,pred6,pred7,pred8,pred9,pred10,pred11,pred12,a_prob,b_prob,c_prob,bc_prob_auto,bc_prob_1000,bc_prob_1200
3,0.991672,0.828912,0.255339,0.400911,0.057667,0.301193,0.057667,0.301193,0.057667,0.301193,-0.000847,0.910292,0.328125,0.179430,0.179430,0.179430
5,0.752677,0.679453,0.596063,0.709532,0.659294,0.576198,0.659294,0.576198,0.659294,0.576198,-0.001823,0.716065,0.652798,0.617746,0.617746,0.617746
12,0.141866,0.934535,0.372069,0.130681,0.226753,0.351016,0.226753,0.351016,0.226753,0.351016,0.000756,0.538201,0.251375,0.288884,0.288884,0.288884
119,0.358697,0.405463,0.513283,0.371022,0.440553,0.406170,0.440553,0.406170,0.440553,0.406170,-0.004899,0.382080,0.442153,0.423361,0.423361,0.423361
126,0.941046,0.504828,0.047124,0.578554,0.289778,0.519929,0.289778,0.519929,0.289778,0.519929,0.079126,0.722937,0.312839,0.404854,0.404854,0.404854
162,0.778572,0.388347,0.234096,0.480320,0.612613,0.675717,0.612613,0.675717,0.612613,0.675717,0.017900,0.583460,0.357208,0.644165,0.644165,0.644165
168,0.950857,0.539172,0.422303,0.149167,0.098313,0.165957,0.098313,0.165957,0.098313,0.165957,0.003895,0.745014,0.285735,0.132135,0.132135,0.132135

In [46]:
total[(total.pred1 > 0.4) & (total.pred2 > 0.4)]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,...,pred10,pred11,pred12,a_prob,b_prob,c_prob,bc_prob_auto,bc_prob_1000,bc_prob_1200,answer
0,A,A,A,A,0.967424,0.754704,0.000024,0.003470,0.000975,0.018098,...,0.780386,0.973565,0.780386,0.861064,0.001747,0.009536,0.876975,0.876975,0.876975,0.0
4,A,A,A,A,0.999968,1.000619,0.000020,-0.002506,0.000149,0.025838,...,0.696908,0.818956,0.696908,1.000294,-0.001243,0.012993,0.757932,0.757932,0.757932,0.0
8,A,A,A,A,0.999939,0.999156,0.000121,-0.055126,0.044177,0.000673,...,0.665780,0.965325,0.665780,0.999547,-0.027502,0.022425,0.815552,0.815552,0.815552,0.0
9,A,A,A,A,0.999993,1.000067,0.000011,-0.004582,0.000063,0.008416,...,0.642405,0.932764,0.642405,1.000030,-0.002285,0.004240,0.787584,0.787584,0.787584,0.0
13,A,A,A,A,0.999967,1.008395,0.000039,-0.003780,0.000084,0.019286,...,0.678949,0.902671,0.678949,1.004181,-0.001871,0.009685,0.790810,0.790810,0.790810,0.0
16,A,A,A,A,0.999941,0.999850,0.000022,-0.007721,0.000043,0.003550,...,0.571873,0.970241,0.571873,0.999896,-0.003850,0.001796,0.771057,0.771057,0.771057,0.0
23,A,A,A,A,0.999965,0.999647,0.000019,-0.001381,0.000026,-0.020399,...,0.571700,0.939401,0.571700,0.999806,-0.000681,-0.010186,0.755551,0.755551,0.755551,0.0
27,A,A,A,A,0.999793,1.005098,0.000073,-0.009666,0.000167,0.025966,...,0.587093,0.934840,0.587093,1.002446,-0.004796,0.013066,0.760966,0.760966,0.760966,0.0
28,A,A,A,A,0.979853,0.580068,0.000217,-0.008241,0.000296,0.003730,...,0.629778,0.836830,0.629778,0.779961,-0.004012,0.002013,0.733304,0.733304,0.733304,0.0
30,A,A,A,A,0.997586,0.866837,0.000095,-0.007131,0.000728,0.008389,...,0.666103,0.812142,0.666103,0.932211,-0.003518,0.004558,0.739123,0.739123,0.739123,0.0
31,A,A,A,A,0.999316,0.998203,0.000036,-0.022225,0.001062,0.026440,...,0.748096,0.973723,0.748096,0.998759,-0.011095,0.013751,0.860910,0.860910,0.860910,0.0
34,A,A,A,A,0.999962,0.997002,0.000010,-0.006095,0.000012,-0.009867,...,0.643809,0.777557,0.643809,0.998482,-0.003043,-0.004927,0.710683,0.710683,0.710683,0.0
40,A,A,A,A,0.999963,1.000792,0.000010,-0.008515,0.000016,-0.010035,...,0.501488,0.911647,0.501488,1.000378,-0.004252,-0.005010,0.706567,0.706567,0.706567,0.0
50,A,A,A,A,0.999930,0.983472,0.000117,0.004027,0.000214,0.031944,...,0.599333,0.890587,0.599333,0.991701,0.002072,0.016079,0.744960,0.744960,0.744960,0.0
52,A,A,A,A,0.996656,0.844475,0.000446,-0.010087,0.008361,0.086480,...,0.768316,0.989714,0.768316,0.920566,-0.004821,0.047421,0.879015,0.879015,0.879015,0.0
57,A,A,A,A,0.996851,0.997434,0.000090,0.005969,0.000296,-0.056404,...,0.601160,0.954553,0.601160,0.997142,0.003030,-0.028054,0.777856,0.777856,0.777856,0.0
65,A,A,A,A,0.998560,0.990457,0.044473,0.353243,0.007361,0.066864,...,0.586463,0.787929,0.586463,0.994508,0.198858,0.037113,0.687196,0.687196,0.687196,0.0
67,A,A,A,A,0.999981,1.001037,0.000008,-0.011678,0.000118,0.009884,...,0.627867,0.959764,0.627867,1.000509,-0.005835,0.005001,0.793815,0.793815,0.793815,0.0
68,A,A,A,A,0.999958,1.001923,0.000011,-0.005335,0.000054,0.020777,...,0.637386,0.888585,0.637386,1.000941,-0.002662,0.010415,0.762985,0.762985,0.762985,0.0
72,A,A,A,A,0.999262,0.998364,0.000208,0.024721,0.000819,0.023018,...,0.574069,0.964407,0.574069,0.998813,0.012465,0.011919,0.769238,0.769238,0.769238,0.0
73,A,A,A,A,0.999539,1.008854,0.000085,0.001678,0.000018,-0.081619,...,0.475077,0.742826,0.475077,1.004197,0.000882,-0.040801,0.608951,0.608951,0.608951,0.0
82,A,A,A,A,0.999987,1.001207,0.000016,-0.003292,0.000091,0.014372,...,0.716213,0.924593,0.716213,1.000597,-0.001638,0.007232,0.820403,0.820403,0.820403,0.0
89,A,A,A,A,0.999971,0.994666,0.000116,0.013401,0.000025,-0.044598,...,0.497948,0.795175,0.497948,0.997318,0.006758,-0.022287,0.646561,0.646561,0.646561,0.0
96,A,A,A,A,0.999620,0.990948,0.000225,0.003180,0.002260,0.002750,...,0.676318,0.937847,0.676318,0.995284,0.001702,0.002505,0.807083,0.807083,0.807083,0.0
98,A,A,A,A,0.999992,1.000506,0.000009,0.003257,0.000026,-0.002239,...,0.566362,0.865812,0.566362,1.000249,0.001633,-0.001107,0.716087,0.716087,0.716087,0.0
100,A,A,A,A,0.999508,1.007118,0.000084,0.028285,0.000084,-0.041010,...,0.585296,0.866564,0.585296,1.003313,0.014185,-0.020463,0.725930,0.725930,0.725930,0.0
104,A,A,A,A,0.999686,0.998746,0.000022,-0.022040,0.000356,0.001553,...,0.763785,0.940296,0.763785,0.999216,-0.011009,0.000954,0.852040,0.852040,0.852040,0.0
105,A,A,A,A,0.999626,1.000762,0.000852,-0.044619,0.000503,0.004177,...,0.512262,0.893753,0.512262,1.000194,-0.021883,0.002340,0.703008,0.703008,0.703008,0.0
108,A,A,A,A,0.999910,0.990982,0.000189,-0.034953,0.001542,-0.000841,...,0.651739,0.761245,0.651739,0.995446,-0.017382,0.000350,0.706492,0.706492,0.706492,0.0
115,A,A,A,A,0.999904,1.000306,0.000292,-0.032123,0.001371,0.000106,...,0.593303,0.763206,0.593303,1.000105,-0.015916,0.000738,0.678255,0.678255,0.678255,0.0
116,A,A,A,A,0.999956,0.991064,0.000188,-0.002650,0.000836,-0.001687,...,0.666800,0.737013,0.666800,0.995510,-0.001231,-0.000426,0.701907,0.701907,0.701907,0.0
120,A,A,A,A,0.999868,0.999459,0.001072,-0.035596,0.002088,0.005146,...,0.593476,0.722010,0.593476,0.999663,-0.017262,0.003617,0.657743,0.657743,0.657743,0.0
128,A,A,A,A,0.999835,0.998552,0.000287,-0.027841,0.001371,-0.000368,...,0.591626,0.763206,0.591626,0.999194,-0.013777,0.000502,0.677416,0.677416,0.677416,0.0
130,A,A,A,A,0.999781,1.001095,0.001100,-0.046449,0.002317,0.004441,...,0.633765,0.793423,0.633765,1.000438,-0.022674,0.003379,0.713594,0.713594,0.713594,0.0
131,A,A,A,A,0.999738,0.994404,0.000652,-0.032586,0.005950,0.009468,...,0.647638,0.784271,0.647638,0.997071,-0.015967,0.007709,0.715955,0.715955,0.715955,0.0
136,A,A,A,A,0.999965,1.002067,0.000228,-0.008024,0.000748,-0.007852,...,0.593915,0.734911,0.593915,1.001016,-0.003898,-0.003552,0.664413,0.664413,0.664413,0.0
137,A,A,A,A,0.999961,1.001382,0.000196,-0.002727,0.000836,-0.006686,...,0.660414,0.734911,0.660414,1.000672,-0.001265,-0.002925,0.697662,0.697662,0.697662,0.0
139,A,A,A,A,0.995100,0.944083,0.124223,0.399808,0.029524,0.107118,...,0.718681,0.715292,0.718681,0.969592,0.262015,0.068321,0.716987,0.716987,0.716987,0.0
141,A,A,A,A,0.999962,1.000742,0.000200,-0.002980,0.000836,-0.005629,...,0.668478,0.737013,0.668478,1.000352,-0.001390,-0.002397,0.702746,0.702746,0.702746,0.0
146,A,A,A,A,0.999201,1.013341,0.000613,-0.004086,0.000674,-0.004950,...,0.575414,0.719344,0.575414,1.006271,-0.001737,-0.002138,0.647379,0.647379,0.647379,0.0
149,A,A,A,A,0.999790,0.995155,0.001055,-0.035266,0.002088,0.009088,...,0.591798,0.722010,0.591798,0.997472,-0.017106,0.005588,0.656904,0.656904,0.656904,0.0
150,A,A,A,A,0.999615,0.984539,0.000425,0.004487,0.015671,0.097453,...,0.610883,0.738768,0.610883,0.992077,0.002456,0.056562,0.674826,0.674826,0.674826,0.0
152,A,A,A,A,0.996721,0.885319,0.000772,-0.021396,0.001190,0.000930,...,0.574803,0.748732,0.574803,0.941020,-0.010312,0.001060,0.661768,0.661768,0.661768,0.0
155,A,A,A,A,0.999874,1.001550,0.000236,0.002166,0.002625,0.011363,...,0.595076,0.735562,0.595076,1.000712,0.001201,0.006994,0.665319,0.665319,0.665319,0.0
156,A,A,A,A,0.999877,0.996640,0.000141,-0.032075,0.004060,0.004609,...,0.661967,0.793676,0.661967,0.998259,-0.015967,0.004335,0.727822,0.727822,0.727822,0.0
159,A,A,A,A,0.999209,0.995119,0.000318,0.004891,0.002477,0.000785,...,0.697118,0.769475,0.697118,0.997164,0.002604,0.001631,0.733297,0.733297,0.733297,0.0
164,A,A,A,A,0.999965,1.002067,0.000228,-0.008024,0.000748,-0.007852,...,0.593915,0.734911,0.593915,1.001016,-0.003898,-0.003552,0.664413,0.664413,0.664413,0.0
165,A,A,A,A,0.999869,0.988374,0.001452,-0.004909,0.029413,0.071949,...,0.501861,0.591960,0.501861,0.994122,-0.001728,0.050681,0.546911,0.546911,0.546911,0.0
169,A,A,A,A,0.999961,0.993650,0.000228,-0.007947,0.000748,-0.003939,...,0.592237,0.734911,0.592237,0.996805,-0.003860,-0.001595,0.663574,0.663574,0.663574,0.0

In [53]:
all_idx = [x for x in range(len(X_test))]
all_idx = [x for x in all_idx if (x not in a_index) & (x not in b_index) & (x not in c_index)]
all_idx

[19, 60, 119, 140]

In [48]:
total.iloc[[19,60,119,140]]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,...,pred10,pred11,pred12,a_prob,b_prob,c_prob,bc_prob_auto,bc_prob_1000,bc_prob_1200,answer
19,C,C,C,C,0.000010,0.007093,0.077313,0.231380,0.306772,0.607652,...,0.938561,0.843300,0.938561,0.003551,0.154347,0.457212,0.890930,0.890930,0.890930,0.0
60,A,A,A,A,0.004989,0.073998,0.009301,0.370499,0.016599,0.114375,...,0.636287,0.850982,0.636287,0.039494,0.189900,0.065487,0.743635,0.743635,0.743635,0.0
119,C,C,C,C,0.001203,-0.011001,0.358697,0.405463,0.513283,0.371022,...,0.406170,0.440553,0.406170,-0.004899,0.382080,0.442153,0.423361,0.423361,0.423361,0.0
140,A,A,A,A,0.479806,0.123098,0.119487,0.294518,0.042923,0.218272,...,0.511234,0.676596,0.511234,0.301452,0.207003,0.130598,0.593915,0.593915,0.593915,0.0

In [40]:
answer = np.zeros(len(X_test))
a_index = total[total.a_prob > 0.5].index.tolist()
b_index = total[total.b_prob > 0.5].index.tolist()
c_index = total[total.c_prob > 0.5].index.tolist()

target = [x for x in b_index if x in c_index]
for t in target :
    score = np.mean(total.iloc[t, -3:])
    if score > 0.5 :
        b_index.remove(t)
    else :
        c_index.remove(t)
        

if (len(a_index)+len(b_index)+len(c_index)) != len(X_test) :
    zero_idx = [x for x in range(len(X_test))]
    zero_idx = [x for x in all_idx if (x not in a_index) & (x not in b_index) & (x not in c_index)]
    c_opinion = np.argmax(total.loc[zero_idx, ['pred1', 'pred3', 'pred5']], axis=1)
    r_opinion = np.argmax(total.loc[zero_idx, ['pred2', 'pred4', 'pred6']], axis=1)
    opinions = []
    for i in range(len(c_opinion)) :
        if c_opinion[i] == r_opinion[i] : 
            opinions.append(c_opinion[i])
        else :
            
        

answer[a_index] = 0
answer[b_index] = 1
answer[c_index] = 2

total['answer'] = answer

print(len(a_index), len(b_index), len(c_index), len(a_index)+len(b_index)+len(c_index))

49 86 36 171

In [44]:
total['target'] = total.answer.map(lambda x : 'A' if x==0 else ('B' if x==1 else 'C'))
total[total.high1 != total.target]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,...,pred11,pred12,a_prob,b_prob,c_prob,bc_prob_auto,bc_prob_1000,bc_prob_1200,answer,target
3,C,C,C,C,0.168860,0.057801,0.917920,0.945956,0.438959,0.390259,...,0.109921,0.158754,0.197760,1.390898,0.634089,0.189298,0.189298,0.189298,1.0,B
12,B,C,C,C,0.000052,0.001597,0.296680,0.443346,0.373061,0.289546,...,0.615802,0.431371,0.000850,0.518353,0.517834,0.831488,0.831488,0.831488,2.0,C
119,C,C,C,C,0.000095,0.005052,0.698994,0.780585,0.115815,0.406309,...,0.662537,0.479001,0.002621,1.089287,0.318969,0.902038,0.902038,0.902038,1.0,B
126,B,C,B,B,0.000099,0.034037,0.767498,0.586070,0.391295,0.486659,...,0.649863,0.625625,0.017117,1.060534,0.634624,0.962676,0.962676,0.962676,2.0,C

In [47]:
X_test.iloc[[168]]

,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,...,SNP_15_ratio,trait_ratio,encodings_0,encodings_1,encodings_2,encodings_3,encodings_4,encodings_5,encodings_6,errors
168,1,2,1,0,0,2,0,0,1,0,...,0.68932,0.590674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
train2[train2['class']==0]

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,...,SNP_15_ratio,trait_ratio,encodings_0,encodings_1,encodings_2,encodings_3,encodings_4,encodings_5,encodings_6,errors
0,TRAIN_000,1,2,1,0,1,1,0,0,2,...,0.689320,0.590674,0.038362,-0.123360,0.028561,-0.007297,-0.014100,-0.022615,-0.071094,0.027966
1,TRAIN_001,1,1,1,1,0,0,1,0,1,...,0.689320,0.590674,0.018671,0.003465,-0.168691,-0.089982,-0.076945,0.159816,0.338336,0.047560
2,TRAIN_002,1,2,2,0,1,2,2,0,1,...,0.689320,0.590674,0.160368,0.028850,0.055501,-0.033374,0.042429,0.094334,-0.099921,0.078756
3,TRAIN_003,0,0,2,0,1,0,2,2,0,...,0.272727,0.000000,-0.052722,0.162948,-0.049646,0.077969,-0.072254,0.062971,-0.052153,0.046547
4,TRAIN_004,1,2,2,2,0,2,0,0,0,...,0.506329,0.590674,0.016150,0.077639,-0.008436,0.060002,-0.028739,0.026300,-0.134074,0.024998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,1,1,1,0,1,2,1,0,1,...,0.689320,0.590674,-0.068305,-0.129912,-0.057470,-0.021480,-0.067259,-0.049244,0.006264,0.035129
258,TRAIN_258,1,2,0,1,0,0,1,1,1,...,0.506329,0.590674,0.687875,1.094408,0.116105,-0.169651,0.719153,0.076116,-0.062590,0.059244
259,TRAIN_259,0,1,2,0,1,0,1,2,1,...,0.272727,0.000000,-0.041655,-0.117549,0.120116,-0.090664,0.001641,-0.154535,0.020693,0.064420
260,TRAIN_260,0,0,2,0,1,0,2,2,0,...,0.272727,0.000000,3.596450,7.185980,-0.153397,-0.001454,4.507180,0.414904,-0.121423,0.053174
261,TRAIN_261,1,2,1,1,2,2,1,0,0,...,0.506329,0.590674,3.390476,7.853312,-0.143190,-0.002447,5.351220,0.624516,-0.014161,0.065646

In [45]:
submit = high1.copy()
submit['class'] = total.target
submit

           id class
0    TEST_000     A
1    TEST_001     B
2    TEST_002     C
3    TEST_003     B
4    TEST_004     A
..        ...   ...
170  TEST_170     B
171  TEST_171     C
172  TEST_172     C
173  TEST_173     B
174  TEST_174     B

[175 rows x 2 columns]

In [46]:
submit.to_csv("submit.csv", index=False)

In [54]:
df1 = pd.read_csv("./data/submit_0.99078.csv")
df2 = pd.read_csv("./data/submit_0.99078_2.csv")
df3 = pd.read_csv("./data/submit_0.99078_3.csv")
df4 = pd.read_csv("./data/submit_0.99078_4.csv")

In [55]:
# submit 기준
display(submit[submit['class'] != df1['class']],submit[submit['class'] != df2['class']],submit[submit['class'] != df3['class']],submit[submit['class'] != df4['class']])

           id class
3    TEST_003     B
5    TEST_005     B
126  TEST_126     C

          id class
3   TEST_003     B
5   TEST_005     B
12  TEST_012     B

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     B
126  TEST_126     C

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     B
126  TEST_126     C
168  TEST_168     B

In [84]:
total['answer'] = total_index
total.iloc[[3, 5, 12, 119, 168], [0,1,2,3,-4, -3, -2, -1]]

    high1 high2 high3 high4    a_prob    b_prob    c_prob  answer
3       C     C     C     C  0.059954  1.816940  0.610793       1
5       C     C     C     C -0.000880  1.602311  1.031356       1
12      B     C     C     C  0.006151  0.867814  0.338562       1
119     C     C     C     C  0.000587  1.078331  0.992099       1
168     B     B     B     C -0.001244  1.410336  0.296742       1

In [85]:
total[(total.b_prob > 1.0) & (total.c_prob > 0.5)]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob,answer
3,C,C,C,C,0.000703,0.059251,0.989858,0.827082,0.257562,0.353230,0.059954,1.816940,0.610793,1
5,C,C,C,C,0.000287,-0.001167,0.975314,0.626997,0.490775,0.540581,-0.000880,1.602311,1.031356,1
35,B,B,B,B,0.000482,0.001193,0.811900,0.645094,0.223033,0.364383,0.001676,1.456993,0.587417,1
119,C,C,C,C,0.000229,0.000358,0.413266,0.665065,0.578031,0.414068,0.000587,1.078331,0.992099,1
126,B,C,B,B,0.000968,0.049571,0.669163,0.379141,0.249582,0.501944,0.050539,1.048304,0.751527,1

In [ ]:
total_index2 = np.where(a_prob > 1.0, 0, np.where(c_prob > 0.6, 2,

In [ ]:
# submit 기준
display(submit[submit['class'] != df1['class']],submit[submit['class'] != df2['class']],submit[submit['class'] != df3['class']],submit[submit['class'] != df4['class']])

In [79]:
sum(high1['class'] == submit['class'])

172

In [63]:
submit['class'].value_counts()

B    85
A    51
C    39
Name: class, dtype: int64

In [65]:
high1['class'].value_counts()

B    84
A    51
C    40
Name: class, dtype: int64

In [52]:
submit.to_csv("submit.csv", index=False)

In [68]:
high1 = pd.read_csv("./data/submit_0.99078.csv")
high2 = pd.read_csv("./data/submit_0.99078_2.csv")
high3 = pd.read_csv("./data/submit_0.99078_3.csv")
high4 = pd.read_csv("./data/submit_0.99078_4.csv")

middle1 = pd.read_csv("./data/submit_0.98142.csv")

low1 = pd.read_csv("./submit_0.9622.csv")
low2 = pd.read_csv("./submit_0.9622_2.csv")
low3 = pd.read_csv("./submit_0.9719.csv")

In [70]:
targets = [high1, high2, high3, high4, middle1, low1, low2, low3]

idx_list = []
for i in range(len(targets)-1) :
    target = targets[i]
    for j in range(len(targets[i+1:])) :
        diff_idx = target[target['class'] != targets[j]['class']].index.tolist()
        idx_list += diff_idx
        
idx_list = sorted(list(set(idx_list)))
idx_list

[3, 5, 12, 119, 126, 168]

In [72]:
idx_list = sorted(idx_list+[162])

In [73]:
display(high1.iloc[idx_list],high2.iloc[idx_list],high3.iloc[idx_list],high4.iloc[idx_list],middle1.iloc[idx_list],low1.iloc[idx_list],low2.iloc[idx_list],low3.iloc[idx_list])

           id class
3    TEST_003     C
5    TEST_005     C
12   TEST_012     B
119  TEST_119     C
126  TEST_126     B
162  TEST_162     C
168  TEST_168     B

           id class
3    TEST_003     C
5    TEST_005     C
12   TEST_012     C
119  TEST_119     C
126  TEST_126     C
162  TEST_162     C
168  TEST_168     B

           id class
3    TEST_003     C
5    TEST_005     C
12   TEST_012     C
119  TEST_119     C
126  TEST_126     B
162  TEST_162     C
168  TEST_168     B

           id class
3    TEST_003     C
5    TEST_005     C
12   TEST_012     C
119  TEST_119     C
126  TEST_126     B
162  TEST_162     C
168  TEST_168     C

           id class
3    TEST_003     C
5    TEST_005     B
12   TEST_012     B
119  TEST_119     C
126  TEST_126     C
162  TEST_162     C
168  TEST_168     B

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     A
119  TEST_119     B
126  TEST_126     B
162  TEST_162     C
168  TEST_168     B

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     B
119  TEST_119     B
126  TEST_126     B
162  TEST_162     C
168  TEST_168     B

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     B
119  TEST_119     C
126  TEST_126     C
162  TEST_162     C
168  TEST_168     B

In [67]:
display(low3[low3['class'] != low1['class']], low1[low3['class'] != low1['class']])

           id class
12   TEST_012     B
119  TEST_119     C
126  TEST_126     C

           id class
12   TEST_012     A
119  TEST_119     B
126  TEST_126     B

In [62]:
display(high3[high3['class'] != high1['class']], high1[high3['class'] != high1['class']])

          id class
12  TEST_012     C

          id class
12  TEST_012     B

In [63]:
display(high3[high3['class'] != high2['class']], high2[high3['class'] != high2['class']])

           id class
126  TEST_126     B

           id class
126  TEST_126     C